@model StudentManagement.Models.Student

<h2>Create Student</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Birth Date</label>
        <input asp-for="BirthDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label>School Name</label>
        <input asp-for="SchoolName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Percentage</label>
        <input asp-for="Percentage" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Save</button>
</form>
